<!DOCTYPE html>
<html lang="zh">
<head>
<title>对账信息管理</title>
<#include "../../common/common_header.html" />
<link rel="stylesheet" href="${basePath}/static/css/common/search.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/operation.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/table.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/from-both.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/modal.css" type="text/css">
<link rel="stylesheet" href="${basePath}/static/css/common/tab.css" type="text/css">
<link rel="stylesheet" href="${basePath}/static/css/common/datetimepicker.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/contract/contract-manage.css" type="text/css">
<link rel="stylesheet" href="${basePath}/static/css/coupon/couponOperation.css" type="text/css" />
</head>
<body class="app-body">
	<#include "../../common/common_top.html" />
	<div class="main-body">
		<#include "../../common/common_menu.html" />
		<!-- 内容 -->
		<main class="main" id="mainPage">
		<div class="tab-box">
		<a href="${basePath}/accountCheckInfo/showAccountCheckInfoPage"><div class="tab-text ">发起对账</div></a>
		<a href="${basePath}/accountCheckInfo/showReceiveReconciliationInformation"><div class="tab-text active">接收对账</div></a>
		</div>
		<div class="search-panel row">
			<form onsubmit="return false">
				<div class="search-from" >
					<div class="both-row row">
							<div class="search-box">
								<div class="input-lable">对账单编号</div>
								<div class="input-text">
									<input id="accountCheckId" class="input" placeholder="请输入对账编号" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">对账单状态</div>
								<div class="input-text">
									<select id="accountCheckStatus" class="input">
										<option value="">请选择</option>
										<option value="1">起草</option>
										<option value="2">待审核</option>
										<option value="3">审核通过</option>
										<option value="4">驳回</option>
										<option value="5">待确认</option>
										<option value="6">已确认</option>
									</select>
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">制单时间</div>
								<div class="input-text time-input">
									<input id="makeTimeStart" class="input date-time" placeholder="" type="text" />
								</div>
								<div class="input-line">—</div>
								<div class="input-text time-input">
									<input id="makeTimeEnd" class="input date-time" placeholder="" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">确认账款</div>
								<div class="input-text">
									<input id="confirmPrice" class="input" placeholder="请输入确认账款" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">确认发货吨位</div>
								<div class="input-text">
									<input id="confirmForwardingTonnage" class="input" placeholder="请输入确认发货吨位" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">确认到货吨位</div>
								<div class="input-text">
									<input id="confirmArriveTonnage" class="input" placeholder="请输入确认到货吨位" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">确认损耗吨位</div>
								<div class="input-text">
									<input id="confirmLossTonnage" class="input" placeholder="请输入确认损耗吨位" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">确认出车次数</div>
								<div class="input-text">
									<input id="confirmOutCar" class="input" placeholder="请输入确认出车次数" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">损耗差异</div>
								<div class="input-text">
									<input id="lossDifference" class="input" placeholder="请输入损耗差异" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">其他差异</div>
								<div class="input-text">
									<input id="otherDifference" class="input" placeholder="请输入其他差异" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">差异收入</div>
								<div class="input-text">
									<input id="differenceIncome" class="input" placeholder="请输入差异收入" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">确认人</div>
								<div class="input-text">
									<input id="confirmUser" class="input" placeholder="请输入确认人" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">确认时间</div>
								<div class="input-text time-input">
									<input id="confiirmTimeStart" class="input date-time" placeholder="" type="text" />
								</div>
								<div class="input-line">—</div>
								<div class="input-text time-input">
									<input id="confiirmTimeEnd" class="input date-time" placeholder="" type="text" />
								</div>
							</div>
						</div>
					<div class="search-button-box">
						<button class="search-button" onclick="findAccountMationList(1)">
							<div class="search-icon"></div>
							<div class="text">查询</div>
						</button>
						<button class="search-button" type="reset" onclick="resetAcc()">
							<div class="reset-icon"></div>
							<div class="text">重置</div>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div id="initiate-contract-tab" class="tab-content" style="display: block">
			<div class="panel">
				<div class="row">
					<div class="operation-tab row">
						<button class="operation-button operation-blue" onclick="accountMation(1)">
							<div class="waybill-confirm-icon"></div>
							<div class="operation-text">确认</div>
						</button>
						<!-- <button style="display:none" class="operation-button operation-blue" onclick="accountMation(2)">
							<div class="waybill-refuse-icon"></div>
							<div class="operation-text">拒绝</div>
						</button> -->
					</div>
				</div>
			
			<div style="width:100%;overflow-x:auto;overflow-y:hidden;" >
		        <table class="table-bule table-ellipsis" style="min-width: 1780px" id="receiveAccountTable">
		          <thead>
		             <tr class="table-title">
						<th class="check" style="width: 40px;">
			                <label class="i-checks">
			                	<input name="all" type="checkbox" class="all_Acc_info_check"> 
			                </label>
						</th>
						<th style="width: 50px;">操作</th>
						<th style="width: 100px;">对账单编号</th>
						<th style="width: 100px;">对账单状态</th>
						<th style="width: 100px;">确认账款</th>
						<th style="width: 100px;">确认到货吨位</th>
						<th style="width: 100px;">确认损耗吨位</th>
						<th style="width: 100px;">确认出车次数</th>
						<th style="width: 100px;">确认发货吨位</th>
						<th style="width: 100px;">损耗差异</th>
						<th style="width: 100px;">其他差异</th>
						<th style="width: 100px;">收入税率</th>
						<th style="width: 100px;">差异收入</th>
						<th style="width: 200px;">应收总额（客户）</th>
						<th style="width: 400px;">应付总额（物流/司机）</th>
						<th style="width: 100px;">代开总额</th>
						<th style="width: 100px;">出车数</th>
						<th style="width: 100px;">单据总数</th>
						<th style="width: 100px;">制单人</th>
						<th style="width: 100px;">制单时间</th>
			        </tr>
		          </thead>
		          <tbody id="AccTtableList">
		          </tbody>
		        </table>
		      </div>
		      <div class="panel-pagination">
		      <div id="acc-num" class="panel-num">搜索相关结果共0条</div>
		      <div class="pagination-list" id="acc-list"></div>
		      <div class="pagination-input">到<input type="text" />页</div>
		      <div class="pagination-button" onclick="jumpPage(this)">确定</div>
		  </div> 
		  </div>
		  </div>
		  
		  <!-- 对账明细信息列表 -->
		<div class="modal fade" id="myDetailModal" tabindex="-2" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content" style="width: 1360px;margin-left: -297px;">
					<div class="modal-header">
						<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
						<h4 class="modal-title">对账信息明细</h4>
					</div>
					<div class="modal-body">
						<div class="modal-table row">
							<table width="100%" class="table-bule table-ellipsis">
								<thead>
									<tr class="table-title">
											<th>运单号</th>
											<th>车牌号码</th>
											<th style="width:120px">委托方</th>
											<th style="width:120px">承运方</th>
											<th>货物</th>
											<th>零散货物</th>
											<th>线路起点</th>
											<th>线路终点</th>
											<th>发货单位</th>
											<th>到货单位</th>
											<th>客户运费</th>
											<th>应付运费</th>
											<th>代开总额</th>
									</tr>
								</thead>
								<tbody id="seeAccountListTBody">
								
								</tbody>
							</table>
							<!-- <div class="panel-pagination">
						      <div id="accL-num" class="panel-num">搜索相关结果共0条</div>
						      <div class="pagination-list" id="aaaa-list"></div>
						      <div class="pagination-input">到
						        <input type="text" />页</div>
						      <div class="pagination-button" onclick="jumpaccPage(this)">确定</div>
						 	 </div> -->
						</div>
					</div>
					<div class="modal-footer">
						<button class="close-button" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
		  
		  </main>
		  </div>
	<footer class="app-footer"> </footer>
	<form id="payment_form" action="" method="post">
	  		<input id="payment_id" type="hidden" name="sign">
	  		<input id="update_payM_id" type="hidden" name="paymentId">
	</form>
</body>
<#include "../../common/common_footer.html" />
<script type="text/javascript" src="${basePath}/static/js/common/moment.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/datetimepicker.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/confirm.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/ajaxupload.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/operation.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/colResizable.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/select-line.js"></script>
<script type="text/javascript" src="${basePath}/static/js/accountCheck/receiveReconciliationInformation.js"></script>
</html>
