<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            body {
                margin: 0;
            }
            #main {
                height: 100%;
            }
        </style>
        
    </head>
    <body>
        <div id="startEndMain" style="width: 800px;height: 600px;"></div>
    </body>
    <!-- 
    <script src="${basePath}/static/js/reportForm/echarts-2.2.7/echarts.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script src="${basePath}/static/js/reportForm/echarts-2.2.7/jquery.min.js"></script>
     -->
     <script type="text/javascript" src="${basePath}/static/js/common/jquery-3.1.1.js"></script>
     <script type="text/javascript" src="${basePath}/static/js/reportForm/waybill/echarts-all.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/reportForm/waybill/start_end_map.js"></script>
</html>