<!DOCTYPE html>
<html lang="zh">
<head>
<title>招标管理</title>
<#include "../../common/common_header.html" />
<link rel="stylesheet" href="${basePath}/static/css/common/search.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/table.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/operation.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/modal.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/from-both.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/datetimepicker.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/xjValidate.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/bidding/bidding-detail.css" type="text/css">
<link rel="stylesheet" href="${basePath}/static/css/common/select-line.css" type="text/css" />

</head>
<body class="app-body">
	<#include "../../common/common_top.html" />
	<div class="main-body">
		<#include "../../common/common_menu.html" />
		<!-- 内容 -->
		<main class="main"> 
			
			<div class="search-panel row">
				<form onsubmit="return false">
					<div class="search-from" style="width: 1010px;">
						<input id ="hiddenBiddingInfoId" value = '${biddingInfoId}' hidden="true"/>
						<div class="search-button-box">
							<div class="both-row">
								<div class="search-box">
									<div class="input-lable">货物名称</div>
									<div class="input-text">
										<input id="goodsName" class="input" placeholder="请输入货物名称" type="text" />
									</div>
								</div>
							</div>
						</div>
						<div class="search-button-box">
							<button class="search-button" onclick="searchBiddingInfo(1)">
								<div class="search-icon"></div>
								<div class="text">查询</div>
							</button>
							<button class="search-button" type="reset">
								<div class="reset-icon"></div>
								<div class="text">重置</div>
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="panel">
				<div class="row">
						<button id="backBtn" style="margin-left:0px;" class="operation-button operation-blue" onclick="window.location='${basePath}/biddingInfo/showBiddingInfoPage'">
							<div class="operation-text" style="line-height: 18px;height : 23px">返回招标主页</div>
						</button>
					<div class="operation-tab row">
						<div style ="height: 30px;display :${isHidden}"></div>
						<button class="operation-button operation-blue" onclick="addOrEditBiddingDetailInfoPage()" style ="display :${isShow}">
							<div class="add-icon"></div>
							<div class="operation-text">新增明细</div>
						</button>
						<button id="delBtn" class="operation-button operation-blue" onclick="deleteCheckedBiddingDetailInfo()" style ="display :${isShow}">
							<div class="delete-icon"></div>
							<div class="operation-text">删除</div>
						</button>
				       <button  class="operation-button  operation-blue" onclick="" style ="display :${isShow}">
							<div class="award-icon"></div>
							<div class="operation-text">选择中标方</div>
						</button>
					</div>
				</div>
				<div id="search-bidding-detail-info" class="panel-table"></div>
			</div>
			
			<!-- 招标明细信息编辑框 -->
			<div class="modal fade" id="biddingDetailModal" tabindex="-2" role="dialog">
				<div id="show_bidding_detail_info" class="modal-dialog"> 
				<!-- 内容加载 -->
				</div>
			</div>
		
			<!-- 货物选择列表 -->
		<div class="modal fade" id="goodsSelectModal" tabindex="-2" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
						<h4 class="modal-title">货物选择</h4>
					</div>
					<div class="modal-body">
						<div class="search-from">
							<form onsubmit="return false">
								<div class="search-row-box">
									<div class="both-row row">
										<div class="search-box">
											<div class="input-lable">货物名称</div>
											<div class="input-text">
												<input class="input" id="goodsNameQuery" placeholder="请选择项目" type="text" />
											</div>
										</div>
									</div>
								</div>
								<div class="search-button-box">
									<button class="search-button" onclick="goodsList(1)">
										<div class="search-icon"></div>
										<div class="text">查询</div>
									</button>
									<button class="search-button" type="reset">
										<div class="reset-icon"></div>
										<div class="text">重置</div>
									</button>
								</div>
							</form>
						</div>
						<div class="modal-table row">
							<table width="100%" class="table-bule table-ellipsis">
								<thead>
									<tr class="table-title">
										<th style="width: 40px;"><input class="all_goods_check" name="all" type="checkbox"></th>
										<th>货物编号</th>
										<th>货物名称</th>
										<th>计量单位</th>
									</tr>
								</thead>
								<tbody id="goodsTBody">
								</tbody>
							</table>
							<!-- 分页 -->
							<div class="panel-pagination">
								<div id="panel-num-goods" class="panel-num">搜索相关结果共0条</div>
								<div id="pagination-list-goods" class="pagination-list"></div>
								<div class="pagination-input">
									到 <input type="text" />页
								</div>
								<div class="pagination-button" onclick="goodsJumpPage(this)">确定</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="save-button" onclick="goodsSelect()">确认</button>
							<button class="close-button" data-dismiss="modal">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 线路选择列表 -->
		<div class="modal fade" id="lineSelectModal" tabindex="-2" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
							<h4 class="modal-title">线路选择</h4>
						</div>
						<div class="modal-body">
							<div class="search-from">
								<form onsubmit="return false">
									<div class="search-row-box">
								<div class="both-row row">
									<div class="search-box">
										<div class="input-lable">线路名称</div>
										<div class="input-text">
											<input class="input" id="lineNameQuery" placeholder="请输入线路名称" type="text" />
										</div>
									</div>
								</div>
							<!-- <div class="both-row row">
				              	<div class="input-lable">线路起点：</div>
				              	<div class="address-input">
				              		<input id="startPointQuery"  name="waybillInfoPo.lineInfoId" class="input" type="hidden" value="${lineInfoPo.endPoints}"/>
					                <div class="select-address" id="dsfdsfd"></div>
					            </div>
				            </div>
				            <div class="both-row row">
				              	<div class="input-lable">线路终点：</div>
				              	<div class="address-input">
				              		<input id="endPointQuery"  name="waybillInfoPo.endPoints" class="input" type="hidden" value="${lineInfoPo.endPoints}"/>
					                <div class="select-address" id="endLifdsfdsfneData"></div>
					            </div>
				            </div> -->
				            
				            <div class="search-row-box">
						<div class="both-row row">
						<div class="search-box">
			            <div class="input-lable">线路起点</div>
			            <div class="address-input">
			              <input  class="input" type="hidden" id="startPointQuery"/>
			              <div class="select-address" id="dsfdsfd"></div>
			            </div>
			          </div>
			          <div class="search-box">
			            <div class="input-lable">线路终点</div>
			            <div class="address-input">
			              <input class="input" type="hidden" id="endPointQuery" />
			              <div class="select-address" id="endLifdsfdsfneData"></div>
			            </div>
			          </div>
				      </div>
					</div>
				            
									</div>
									<div class="search-button-box">
										<button class="search-button" onclick="lineList(1)">
											<div class="search-icon"></div>
											<div class="text">查询</div>
										</button>
										<button class="search-button" type="reset" onclick="resetLine()">
											<div class="reset-icon"></div>
											<div class="text">重置</div>
										</button>
									</div>
								</form>
							</div>
							<div class="modal-table row">
								<table width="100%" class="table-bule table-ellipsis" id="lineTableDrag">
									<thead>
										<tr class="table-title">
											<th style="width: 40px;"><input class="all_line_check" name="all" type="checkbox"></th>
											<th>线路编号</th>
											<th>线路名称</th>
											<th>线路起点</th>
											<th>线路终点</th>
											<th>运距</th>
										</tr>
									</thead>
									<tbody id="lineTBody">
									</tbody>
								</table>
								<!-- 分页 -->
								<div class="panel-pagination">
									<div id="panel-num-line" class="panel-num">搜索相关结果共0条</div>
									<div id="pagination-list-line" class="pagination-list"></div>
									<div class="pagination-input">
										到 <input type="text" />页
									</div>
									<div class="pagination-button" onclick="lineJumpPage(this)">确定</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="save-button" onclick="lineSelect()">确认</button>
								<button class="close-button" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		<!-- 投标方选择列表 -->
		<div class="modal fade" id="bidderSelectModal" tabindex="-2" role="dialog">
			<div class="modal-dialog" style="width:61.8%">
				<div class="modal-content">
					<div class="modal-header">
						<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
						<h4 class="modal-title">中标方选择</h4>
					</div>
					<div class="modal-body">
						<div class="search-from">
							<form onsubmit="return false">
								<div class="search-row-box">
									<div class="both-row row">
										<div class="search-box">
											<div class="input-lable">报价单位</div>
											<div class="input-text">
												<input class="input" id="bidderNameQuery" placeholder="报价单位" type="text" />
											</div>
										</div>
									</div>
								</div>
								<div class="search-button-box">
									<button class="search-button" onclick="bidderList(1)">
										<div class="search-icon"></div>
										<div class="text">查询</div>
									</button>
									<button class="search-button" type="reset">
										<div class="reset-icon"></div>
										<div class="text">重置</div>
									</button>
								</div>
							</form>
						</div>
						<div class="modal-table row">
							<table width="100%" class="table-bule table-ellipsis">
								<thead>
									<tr class="table-title">
										<th style="width: 40px;"><input class="all_bidder_check" name="all" type="checkbox"></th>
										<th>报价单位名称</th>
										<th>报价方角色</th>
										<th>运价</th>
										<th>损耗比例</th>
										<th>损耗金额</th>
										<th>报价总额</th>
										<th>报价说明</th>
									</tr>
								</thead>
								<tbody id="bidderTBody">
								</tbody>
							</table>
							<!-- 分页 -->
							<div class="panel-pagination">
								<div id="panel-num-bidder" class="panel-num">搜索相关结果共<span id="bidderAmount">0</span>条</div>
								<div id="pagination-list-bidder" class="pagination-list"></div>
								<div class="pagination-input">
									到 <input type="text" />页
								</div>
								<div class="pagination-button" onclick="bidderJumpPage(this)">确定</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="save-button" onclick="bidderSelect()">确认中标</button>
							<button class="close-button" data-dismiss="modal">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		</main>
	</div>
	<footer class="app-footer"> </footer>
</body>
<#include "../../common/common_footer.html" />
<script type="text/javascript" src="${basePath}/static/js/common/moment.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/datetimepicker.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/ajaxupload.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/operation.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/confirm.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/colResizable.js"></script>
<script type="text/javascript" src="${basePath}/static/js/bidding/biddingDetailInfoManage.js"></script>
<script type="text/javascript" src="${basePath}/static/js/bidding/bidderSearch.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/xjValidate.js"></script>
<script type="text/javascript" src="${basePath}/static/js/contract/goodsSearch.js"></script>
<script type="text/javascript" src="${basePath}/static/js/contract/lineSearch.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/select-line.js"></script>

</html>