<!DOCTYPE html>
<html lang="zh">
<head>
<title>我的报价</title>
<#include "../../common/common_header.html" />
<link rel="stylesheet" href="${basePath}/static/css/common/search.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/operation.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/table.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/from-both.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/modal.css" type="text/css">
<link rel="stylesheet" href="${basePath}/static/css/common/tab.css" type="text/css">
<link rel="stylesheet" href="${basePath}/static/css/common/datetimepicker.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/contract/contract-manage.css" type="text/css">
<link rel="stylesheet" href="${basePath}/static/css/coupon/couponOperation.css" type="text/css" />
</head>
<body class="app-body">
	<#include "../../common/common_top.html" />
	<div class="main-body">
		<#include "../../common/common_menu.html" />
		<!-- 内容 -->
		<main class="main" id="mainPage">
		<div class="search-panel row">
			<form onsubmit="return false">
				<div class="search-from" >
					<div class="search-row-box" >
						<div class="both-row row">
							<div class="search-box">
					          <div class="input-lable">招标序号</div>
					          <div class="input-text">
					            <input name="" id="biddingCode" class="input" placeholder="请输入招标序号" type="text">
					          </div>
					        </div>
					        <div class="search-box">
					          <div class="input-lable">招标名称</div>
					          <div class="input-text">
					            <input name="" id="biddingName" class="input" placeholder="请输入招标名称" type="text">
					          </div>
					        </div>
					        <div class="search-box">
					          <div class="input-lable">制单人</div>
					          <div class="input-text">
					            <input name="" id="createUserName" class="input" placeholder="请输入制单人" type="text">
					          </div>
					        </div>
							 <div class="search-box">
					          <div class="input-lable">招标单位</div>
					          <div class="input-text">
					            <input name="" id="biddingOrg" class="input" placeholder="请输入制单人" type="text">
					          </div>
					        </div>
							<div class="search-box">
								<div class="input-lable">制单时间</div>
								<div class="input-text time-input" style="width:153px">
									<input id="makeStartTime" class="input date-time-ss" placeholder="" type="text" />
								</div>
								<div class="input-line">—</div>
								<div class="input-text time-input" style="width:153px">
									<input id="makeEndTime" class="input date-time-ss" placeholder="" type="text" />
								</div>
							</div>
						</div>
					</div>
					<div class="search-button-box">
						<button class="search-button" onclick="myOfferList(1)">
							<div class="search-icon"></div>
							<div class="text">查询</div>
						</button>
						<button class="search-button" type="reset" onclick="resetOffer()">
							<div class="reset-icon"></div>
							<div class="text">重置</div>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div id="initiate-contract-tab" class="tab-content" style="display: block">
			<div class="panel">
				<div class="row">
						<div class="operation-tab row">
						<button class="operation-button operation-blue" onclick="ChoiceOfferMation()">
							<div class="view-icon"></div>
							<div class="operation-text">查看招标明细</div>
						</button>
					</div>
				</div>
			<div class="panel-table" >
		        <table class="table-bule" id="tableDrag">
		          <thead>
		             <tr class="table-title">
		             <th class="check">
			                <label class="i-checks">
			                  <input name="all" type="checkbox" class="all_bidding_info_check"> 
			                </label>
		              </th>
		              <th>招标状态</th>
			          <th>招标序号</th>
			          <th>招标编号</th>
			          <th>招标单位</th>
			          <th>招标名称</th>
			          <th>报价截止日期</th>
			          <th>付款方式</th>
			          <th>制单日期</th>
			          <th>制单人</th>
			          <!-- <th>运价</th>
			          <th>损耗比例</th>
			          <th>损耗金额</th>
			          <th>报价总额</th> -->
			        </tr>
		          </thead>
		          <tbody id="biddingTtableList">
		          </tbody>
		        </table>
		      </div>
		   <div class="panel-pagination">
		      <div id="offer-num" class="panel-num">搜索相关结果共0条</div>
		      <div class="pagination-list" id="offer-list"></div>
		      <div class="pagination-input">到
		        <input type="text" />页</div>
		      <div class="pagination-button" onclick="jumpOfferPage(this)">确定</div>
		  </div> 
		  </div>
		  </div>
		  </main>
		  </div>
	<footer class="app-footer"> </footer>
	<!-- 招标明细查看 -->
  	<form id="form_bidding_detail_mation" action="" method="post">
  		<input id="hidden_bidding_id" type="hidden" name="biddingInfoId">
  	</form>
</body>
<#include "../../common/common_footer.html" />
<script type="text/javascript" src="${basePath}/static/js/common/moment.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/datetimepicker.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/confirm.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/ajaxupload.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/operation.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/colResizable.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/select-line.js"></script>
<script type="text/javascript" src="${basePath}/static/js/biddingManagement/my_offer/my_offer_main.js"></script></html>
