<!-- 新增/修改物资类别模板-->
<div id="material-category-data" class="modal-open">
	<div class="modal" tabindex="-2" role="dialog" aria-labelledby="materialCategoryModalLabel" aria-hidden="true" style="display: block">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
		      	<div class="modal-header">
		        	<div type="button" class="mode-close material-category-opt-close" data-dismiss="modal" aria-hidden="true"></div>
		        	<h4 class="modal-title" id="materialCategoryModalLabel">${operateTitle}</h4>
		      	</div>
	      		<div class="modal-body">
		        	<form id="material_category_form">
		        		<input id="hidden_material_category_id" type="hidden" name="materialCategoryPo.id" value="${materialCategoryPo.id}">
		          		<div class="model-from">
		            		<div class="group-box">
		              			<div class="input-lable"><span>*</span>物资类别：</div>
		              			<div class="input-text">
		                			<input id="material_type" name="materialCategoryPo.materialType" class="input" placeholder="请输入物资类别" type="text" value="${materialCategoryPo.materialType}"/>
		              				<input id="root_material_category_id" name="materialCategoryPo.rootMaterialCategoryId" class="input" placeholder="请输入主物资类别编号" type="hidden" value="${materialCategoryPo.rootMaterialCategoryId}"/>
		           		   			<input id="parent_material_category_id" name="materialCategoryPo.parentMaterialCategoryId" class="input" placeholder="请输入父物资类别编号" type="hidden" value="${materialCategoryPo.parentMaterialCategoryId}"/>
		              				<input id="material_level" name="materialCategoryPo.materialLevel" class="input" type="hidden" value="${materialCategoryPo.materialLevel}"/>
		              				<input id="operateType" name="materialCategoryPo.operateType" class="input" type="hidden" value="${operateType}"/>
		              			</div>
		            		</div>
		          		</div>
		        	</div>
	      		</form>
		      	<div class="modal-footer">
		        	<button class="save-button" onclick="addOrUpdateMaterialCategory()">保存</button>
		        	<button class="close-button material-category-opt-close" data-dismiss="modal">取消</button>
		      	</div>
	    	</div>
	  	</div>
	</div>
	<div class="modal-backdrop fade in"></div>
</div>