.search-box .input-lable {
	width: 100px;
}
 
.search-box .money-input {
	width: 58px;
}

.search-box .time-input{
   width: 98px;
 }

.JCLRgrip {
   top:0;
}

.table-bule {
    margin-top:0;

}

.modal-table {
	margin-top:8px;
}