<div id="contract_info">
	<div class="iscroll">  
	<table class="table-bule table-ellipsis" id="tableDrag" style="min-width:1800px"  title="合同信息表">
		<thead>
			<tr class="table-title">
				<th style="width: 40px;">
					<label class="i-checks"> <input class="all_check" name="all" type="checkbox"><i></i>
						</label>
				</th>
				<th  style="width:150px" class="operation">操作</th>
				<th>合同编号</th>
				<th>合同名称</th>
				<th>业务类型</th>
				<th>合同类型</th>
				<th>委托方（甲方）</th>
				<th>承运方（乙方）</th>
				<th>合同金额</th>
				<th>合同状态</th>
				<th>协同状态</th>
				<th>创建日期</th>
			</tr>
		</thead>
		<tbody>
			<#if contractInfoPager?exists && contractInfoPager.rows?exists> <#list contractInfoPager.rows as contractInfo>
			<tr class="table-body ">
				<td style="width: 40px;">
					<label class="i-checks"> <input type="checkbox" class="sub_check" data-id="${contractInfo.id}" data-status="${contractInfo.contractStatus}"><i></i>
						</label>
				</td>
				<td style="white-space: inherit;">
					<div class="operation-td" contract-info-id="${(contractInfo.id)!'0'}" shipper-org-root="${(contractInfo.shipperOrgRoot)!'0'}">
						<#if contractInfo.contractStatus==1> <!--新建-->
						<@shiro.hasPermission name="contract:logistics:modify">
						<div class="modify-operation operation-m">
							<div class="modify-icon"></div>
							<div class="text">修改</div>
						</div>
						<div class="detail-edit operation-m">
							<div class="modify-icon"></div>
							<div class="text" style="color: #2b84ea;">明细操作</div>
						</div>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:delete">
						<div class="delete-operation operation-m">
							<div class="delete-icon"></div>
							<div class="text">删除</div>
						</div>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:submit">
						<div class="submit-operation operation-m">
							<div class="submit-icon"></div>
							<div class="text">提交审核</div>
						</div>
						</@shiro.hasPermission>
						<#elseif contractInfo.contractStatus==2> <!-- 审核中 -->
						<@shiro.hasPermission name="contract:logistics:review">
						<div class="audit-operation operation-m">
							<div class="audit-icon"></div>
							<div class="text">审核</div>
						</div>
						</@shiro.hasPermission>
						<#elseif contractInfo.contractStatus==3> <!-- 审核驳回 -->
						<@shiro.hasPermission name="contract:logistics:modify">
						<div class="modify-operation operation-m">
							<div class="modify-icon"></div>
							<div class="text">修改</div>
						</div>
						<div class="detail-edit operation-m">
							<div class="modify-icon"></div>
							<div class="text" style="color: #2b84ea;">明细操作</div>
						</div>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:submit">
						<div class="submit-operation operation-m">
							<div class="submit-icon"></div>
							<div class="text">提交审核</div>
						</div>
						</@shiro.hasPermission>
						<#elseif contractInfo.contractStatus==4> <!-- 审核通过 -->
						<div class="view-operation view-send-contract operation-m">
							<div class="view-icon"></div>
							<div class="text">查看</div>
						</div>
						<div class="detail-view operation-m">
							<div class="view-icon"></div>
							<div class="text"style="color: #2b84ea;">明细查看</div>
						</div>
						<#elseif contractInfo.contractStatus==5> <!-- 等待确认 -->
						<div class="view-operation view-send-contract operation-m">
							<div class="view-icon"></div>
							<div class="text">查看</div>
						</div>
						<div class="detail-view operation-m">
							<div class="view-icon"></div>
							<div class="text"style="color: #2b84ea;">明细查看</div>
						</div>
						<#elseif contractInfo.contractStatus==6> <!-- 已撤回 -->
						<@shiro.hasPermission name="contract:logistics:modify">
						<div class="modify-operation operation-m">
							<div class="modify-icon"></div>
							<div class="text">修改</div>
						</div>
						<div class="detail-view operation-m">
							<div class="modify-icon"></div>
							<div class="text" style="color: #2b84ea;">明细操作</div>
						</div>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:submit">
						<div class="submit-operation operation-m">
							<div class="submit-icon"></div>
							<div class="text">提交审核</div>
						</div>
						</@shiro.hasPermission>
						<#elseif contractInfo.contractStatus==7> <!-- 已拒绝 -->
						<@shiro.hasPermission name="contract:logistics:modify">
						<div class="modify-operation operation-m">
							<div class="modify-icon"></div>
							<div class="text">修改</div>
						</div>
						<div class="detail-view operation-m">
							<div class="modify-icon"></div>
							<div class="text" style="color: #2b84ea;">明细操作</div>
						</div>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:submit">
						<div class="submit-operation operation-m">
							<div class="submit-icon"></div>
							<div class="text">提交审核</div>
						</div>
						</@shiro.hasPermission>
						<#elseif contractInfo.contractStatus==8> <!-- 已确认 -->
						<div class="view-operation view-send-contract operation-m">
							<div class="view-icon"></div>
							<div class="text">查看</div>
						</div>
						<div class="detail-view operation-m">
							<div class="view-icon"></div>
							<div class="text"style="color: #2b84ea;">明细查看</div>
						</div>
						<#elseif contractInfo.contractStatus==9> <!-- 已终止 -->
						<div class="view-operation view-send-contract operation-m">
							<div class="view-icon"></div>
							<div class="text">查看</div>
						</div>
						<div class="detail-view operation-m">
							<div class="view-icon"></div>
							<div class="text"style="color: #2b84ea;">明细查看</div>
						</div>
							<#elseif contractInfo.contractStatus==10> <!-- 执行中 -->
						<div class="view-operation view-send-contract operation-m">
							<div class="view-icon"></div>
							<div class="text">查看</div>
						</div>
						<div class="detail-view operation-m">
							<div class="view-icon"></div>
							<div class="text"style="color: #2b84ea;">明细查看</div>
						</div>
							<#elseif contractInfo.contractStatus==11> <!-- 已完成 -->
						<div class="view-operation view-send-contract operation-m">
							<div class="view-icon"></div>
							<div class="text">查看</div>
						</div>
						<div class="detail-view operation-m">
							<div class="view-icon"></div>
							<div class="text"style="color: #2b84ea;">明细查看</div>
						</div>
						</#if>
					</div>
				</td>
			
				<td>${(contractInfo.contractCode)!''}</td>
				<td>${(contractInfo.contractName)!''}</td>
				<td><#if contractInfo.businessType?exists>
					<#if contractInfo.businessType=1>运输<#elseif contractInfo.businessType=2>采购<#elseif contractInfo.businessType=3>其它</#if></#if></td>
				<td><#if contractInfo.contractType?exists>
					<#if contractInfo.contractType=1>运输合同<#elseif contractInfo.contractType=2>框架协议合同</#if></#if></td>
				<td>${(contractInfo.entrustName)!''}</td>
				<td>${(contractInfo.shipperName)!''}</td>
				<td>${(contractInfo.contractMoney)!''}</td>
				<td><a onclick="logWinShow(${contractInfo.id})"><#if contractInfo.contractStatus?exists> <#if contractInfo.contractStatus==1> 新建 <#elseif contractInfo.contractStatus==2> 审核中 <#elseif contractInfo.contractStatus==3>
					审核驳回 <#elseif contractInfo.contractStatus==4> 审核通过 <#elseif contractInfo.contractStatus==5> 等待确认 <#elseif contractInfo.contractStatus==6> 已撤回 <#elseif
						contractInfo.contractStatus==7> 已拒绝 <#elseif contractInfo.contractStatus==8> 已确认 <#elseif contractInfo.contractStatus==9> 已结束
						<#elseif contractInfo.contractStatus==10>执行中<#elseif contractInfo.contractStatus==11> 已完成	</#if> </#if></a></td>
				<td><#if contractInfo.cooperateStatus?exists> <#if contractInfo.cooperateStatus==1> 协同 <#elseif contractInfo.cooperateStatus==2> 半协同 </#if> </#if></td>
				<td><#if contractInfo.createTime?exists>${(contractInfo.createTime)?string('yyyy-MM-dd hh:mm:ss')}</#if></td>
				</tr>
			</#list> </#if>
		</tbody>
	</table>
	</div>
	<div class="panel-pagination">${contractInfoPager.pageHtml}</div>
</div>