<!DOCTYPE html>
<html lang="zh">
<head>
<title>物流合同管理</title>
<#include "../../common/common_header.html" />
<link rel="stylesheet" href="${basePath}/static/css/common/search.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/operation.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/table.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/from-both.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/common/modal.css" type="text/css">
<link rel="stylesheet" href="${basePath}/static/css/common/tab.css" type="text/css">
<link rel="stylesheet" href="${basePath}/static/css/common/datetimepicker.css" type="text/css" />
<link rel="stylesheet" href="${basePath}/static/css/contract/contract-manage.css" type="text/css">
</head>
<body class="app-body">
	<#include "../../common/common_top.html" />
	<div class="main-body">
		<#include "../../common/common_menu.html" />
		<!-- 内容 -->
		<main class="main" id="mainPage">
		<div class="tab-box">
			<div class="tab-text active" data-target="#initiate-contract-tab">发起合同</div>
			<div class="tab-text" data-target="#accept-contract-tab">接收合同</div>
		</div>

		<div class="search-panel row">
			<form onsubmit="return false">
				<div class="search-from">
					<div class="search-row-box">
						<div class="both-row row">
							<div class="search-box">
								<div class="input-lable">合同编号</div>
								<div class="input-text">
									<input id="contractCode" class="input" placeholder="请输入合同编号" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">合同名称</div>
								<div class="input-text">
									<input id="contractName" class="input" placeholder="请输入合同名称" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">委托方</div>
								<div class="input-text">
									<input id="entrustName" class="input" placeholder="请输入委托方" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">承运方</div>
								<div class="input-text">
									<input id="shipperName" class="input" placeholder="请输入承运方" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">合同状态</div>
								<div class="input-text">
									<select id="contractStatus" class="input">
										<option value="">请选择</option>
										<option value="1">新建</option>
										<option value="2">审核中</option>
										<option value="3">审核驳回</option>
										<option value="4">审核通过</option>
										<option value="5">等待确认</option>
										<option value="6">已撤回</option>
										<option value="7">已拒绝</option>
										<option value="8">已确认</option>
										<option value="9">已终止</option>
									</select>
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">协同状态</div>
								<div class="input-text">
									<select id="cooperateStatus" class="input">
										<option value="">请选择</option>
										<option value="1">协同</option>
										<option value="2">半协同</option>
									</select>
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">创建日期</div>
								<div class="input-text time-input">
									<input id="createTimeStart" class="input date-time" placeholder="" type="text" />
								</div>
								<div class="input-line">—</div>
								<div class="input-text time-input">
									<input id="createTimeEnd" class="input date-time" placeholder="" type="text" />
								</div>
							</div>
							<div class="search-box">
								<div class="input-lable">线路</div>
								<div class="input-text">
								<input class="input" id="lineInfoQuery" placeholder="请选择线路" readonly="readonly"/>
								<input class="input" id="lineInfoIdQuery" hidden="true"/>
								</div>
							</div>
						</div>
					</div>
					<div class="search-button-box">
						<button class="search-button" onclick="searchContractInfo(1)">
							<div class="search-icon"></div>
							<div class="text">查询</div>
						</button>
						<button class="search-button" type="reset">
							<div class="reset-icon"></div>
							<div class="text">重置</div>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div id="initiate-contract-tab" class="tab-content" style="display: block">
			<div class="panel">
				<div class="row">
					<div class="operation-tab row">
						<@shiro.hasPermission name="contract:logistics:create">
						<button id="addBtn" class="operation-button operation-blue" onclick="addOrEditContractInfoPage()">
							<div class="add-icon"></div>
							<div class="operation-text">新增</div>
						</button>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:delete">
						<button id="delBtn" class="operation-button operation-blue" onclick="deleteCheckedContractInfo()">
							<div class="delete-icon"></div>
							<div class="operation-text">删除</div>
						</button>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:submit">
						<button id="submitBtn" class="operation-button operation-blue" onclick="operateCheckedContractInfo(2)">
							<div class="submit-icon"></div>
							<div class="operation-text">提交审核</div>
						</button>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:review">
						<button id="auditBtn" class="operation-button operation-blue" onclick="auditCheckedContractInfo()">
							<div class="audit-icon"></div>
							<div class="operation-text">审核</div>
						</button>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:sendConfirm">
						<button id="sendBtn" class="operation-button operation-blue" onclick="operateCheckedContractInfo(5)">
							<div class="send-icon"></div>
							<div class="operation-text">发送确认</div>
						</button>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:retract">
						<button id="withdrawBtn" class="operation-button operation-blue" onclick="operateCheckedContractInfo(6)">
							<div class="withdraw-icon"></div>
							<div class="operation-text">撤回</div>
						</button>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:print">
						<button id="printBtn" class="operation-button operation-blue" onclick="">
							<div class="print-icon"></div>
							<div class="operation-text">打印</div>
						</button>
						</@shiro.hasPermission>
						<@shiro.hasPermission name="contract:logistics:end">
						<button id="printBtn" class="operation-button operation-blue" onclick="terminationContract()">
							<div class="print-icon"></div>
							<div class="operation-text">结束合同</div>
						</button>
						</@shiro.hasPermission>
					</div>
				</div>
				<div id="search_contract_info" class="panel-table"></div>
			</div>
		</div>
			<!--合同信息编辑模板(查看)-->
			<div id="contract_info_edit" style="display: block" class="modal-open"></div>

		<div id="accept-contract-tab" class="tab-content">
			<div class="panel">
				<!-- <div class="operation-tab row">
					<button id="commitBtn" class="operation-button operation-blue" onclick="addOrEditContractInfoPage()">
						<div class="operation-text">确认</div>
					</button>
				</div> -->
				<div id="search_contract_info1" class="panel-table"></div>
				<!-- 请求合同明细 -->
			</div>
		</div>
		<!-- 请求明细页面 -->
		<form id="contract_detail_form" action="" method="post">
			<input id="contract_info_id" type="hidden" name="contractInfoId">
		</form>
		<!-- 确认窗口 -->
		<div class="modal fede" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
						<h4 class="modal-title" id="myModalLabel">合同确认</h4>
					</div>
					<div class="modal-body">
						<div class="model-from row">
							<div class="group-box">
								<div class="input-lable">
									<span>*</span>项目：
								</div>
								<div class="select-lists" id="projectName" onclick="projectsShow()"></div>
								<input class="input" type="hidden" id="projectId" /> <input class="input" type="hidden" id="contract_id" />
							</div>
							<div class="group-box">
								<div class="input-lable">
									<span>*</span>确认意见：
								</div>
								<div class="textarea-text">
									<textarea id=confirm_opinion class="input" placeholder="请输入确认意见"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="close-button" onclick="submitCommit(1)">确认</button>
						<button class="close-button" onclick="submitCommit(2)">拒绝</button>
						<button class="close-button" onclick="confirmModalClose()">取消</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 项目选择列表 -->
		<div class="modal fade" id="projectSelectModal" tabindex="-2" role="dialog">
			<div class="modal-dialog" style="width: 1000px">
				<div class="modal-content">
					<div class="modal-header">
						<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
						<h4 class="modal-title">项目选择</h4>
					</div>
					<div class="modal-body">
						<div class="search-from">
							<form onsubmit="return false">
								<div class="search-row-box">
									<div class="both-row row">
										<div class="search-box">
											<div class="input-lable">项目名称</div>
											<div class="input-text">
												<input class="input" id ="projectNameQuery" placeholder="请选择项目" type="text" />
											</div>
										</div>
									</div>
								</div>
								<div class="search-button-box">
									<button class="search-button" onclick="projectList(1)">
										<div class="search-icon"></div>
										<div class="text">查询</div>
									</button>
									<button class="search-button" type="reset" onclick="resetProject()">
										<div class="reset-icon"></div>
										<div class="text">重置</div>
									</button>
								</div>
							</form>
						</div>
						<div class="modal-table row">
							<table width="100%" class="table-bule table-ellipsis">
								<thead>
									<tr class="table-title">
										<th style="width: 60px;"></th>
										<th style="width: 100px;">项目编号</th>
										<th style="width: 200px;">项目名称</th>
										<th style="width: 200px;">所属组织 / 部门</th>
									</tr>
								</thead>
								<tbody id="projectTBody">
							</table>
							<div class="panel-pagination">
								<div id="projectAmount" class="panel-num">搜索相关结果共<span>0</span>条
								</div>
								<div id="projectPage" class="pagination-list project-pagination-list"></div>
								<div class="pagination-input">
									到 <input type="text" />页
								</div>
								<div class="pagination-button" onclick="projectJumpPage(this)">确定</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="save-button" onclick="projectSelect()">确定</button>
						<button class="close-button" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 日志信息列表 -->
		<div class="modal fade" id="logModal" tabindex="-2" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
						<h4 class="modal-title">操作日志查看</h4>
					</div>
					<div class="modal-body">
						<div class="modal-table row">
							<table width="100%" class="table-bule table-ellipsis">
								<thead>
									<tr class="table-title">
										<th>操作人</th>
										<th style="width: 180px;">操作时间</th>
										<th>操作描述</th>
										<th>操作意见</th>
									</tr>
								</thead>
								<tbody id="logTBody">
							</table>
							<div class="panel-pagination">
								<div class="panel-num">
									搜索相关结果共<span id="logNum">0</span>条
								</div>
								<div id="logPage" class="log-pagination-list pagination-list"></div>
								<div class="pagination-input">
									到 <input type="text" />页
								</div>
								<div class="pagination-button" onclick="logSelect(this)">确定</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="close-button" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
		
				<!-- 承运方列表-->
				<div class="modal fade" tabindex="-2" role="dialog" id="shipperSelectModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
								<h4 class="modal-title" id="shipperModalLabel">承运方列表</h4>
							</div>
							<div class="modal-body">
								<div class="search-from">
									<form onsubmit="return false">
										<div class="search-row-box">
											<div class="both-row row">
												<div class="search-box">
													<div class="input-lable">承运方</div>
													<div class="input-text">
														<input class="input" id ="shipperNameQuery" placeholder="请输入承运方名称" type="text" />
													</div>
												</div>
											</div>
										</div>
										<div class="search-button-box">
											<button class="search-button" onclick="shipperList(1)">
												<div class="search-icon"></div>
												<div class="text">查询</div>
											</button>
											<button class="search-button" type="reset">
												<div class="reset-icon"></div>
												<div class="text">重置</div>
											</button>
										</div>
									</form>
								</div>
								<div class ="modal-table">
								<table class="table-bule table-ellipsis">
									<thead>
										<tr class="table-title">
											<th style="width: 40px;">
												<label class="i-checks"><input class="all_shipper_check" name="all" type="checkbox"></label>
											</th>
											<th>承运方</th>
											<th>承运方主机构（乙方）</th>
										</tr>
									</thead>
									<tbody id="shipperTBody">
									</tbody>
								</table>
								</div>
								<!-- 分页 -->
								<div class="row">
									<div class="panel-pagination">
										<div id="panel-num-shipper" class="panel-num">搜索相关结果共0条</div>
										<div class="pagination-list-shipper pagination-list"></div>
										<div class="pagination-input">
											到 <input type="text" />页
										</div>
										<div class="pagination-button" onclick="shipperJumpPage(this)">确定</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="save-button" onclick="shipperSelect()">确认</button>
								<button class="close-button commonTable-opt-close" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div>
				</div>
				
				<!-- 委托方列表-->
				<div class="modal fade" tabindex="-2" role="dialog" id="entrustSelectModal" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
								<h4 class="modal-title" id="projectModalLabel">委托方列表</h4>
							</div>
							<div class="modal-body">
								<div class="search-from">
									<form onsubmit="return false">
										<div class="search-row-box">
											<div class="both-row row">
												<div class="search-box">
													<div class="input-lable">委托方</div>
													<div class="input-text">
														<input class="input" id ="entrustNameQuery" placeholder="请输入委托方名称" type="text" />
													</div>
												</div>
											</div>
										</div>
										<div class="search-button-box">
											<button class="search-button" onclick="entrustList(1)">
												<div class="search-icon"></div>
												<div class="text">查询</div>
											</button>
											<button class="search-button" type="reset" onclick="resetEntrust()">
												<div class="reset-icon"></div>
												<div class="text">重置</div>
											</button>
										</div>
									</form>
								</div>
								<div class ="modal-table">
								<table class="table-bule table-ellipsis">
									<thead>
										<tr class="table-title">
											<th style="width: 40px;">
												<label class="i-checks"><input class="all_entrust_check" name="all" type="checkbox"></label>
											</th>
											<th>委托方</th>
											<th>委托方主机构（甲方）</th>
										</tr>
									</thead>
									<tbody id="entrustTBody">
									</tbody>
								</table>
								</div>
								<!-- 分页 -->
								<div class="row">
									<div class="panel-pagination">
										<div id="panel-num-entrust" class="panel-num">搜索相关结果共0条</div>
										<div class="pagination-list pagination-list-entrust"></div>
										<div class="pagination-input">
											到 <input type="text" />页
										</div>
										<div class="pagination-button" onclick="entrustJumpPage(this)">确定</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="save-button" onclick="entrustSelect()">确认</button>
								<button class="close-button commonTable-opt-close" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 线路选择列表 -->
			<div class="modal fade" id="lineSelectModal" tabindex="-2" role="dialog">
				<div class="modal-dialog modal-dialog-both">
					<div class="modal-content">
						<div class="modal-header">
							<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
							<h4 class="modal-title">线路选择</h4>
						</div>
						<div class="modal-body">
							<div class="search-from">
								<form onsubmit="return false">
									<div class="search-row-box">
										<div class="both-row row">
											<div class="search-box">
												<div class="input-lable">线路名称</div>
												<div class="input-text">
													<input class="input" id="lineNameQuery" placeholder="请输入线路名称" type="text" />
												</div>
											</div>
											<div class="search-box">
												<div class="input-lable">线路起点</div>
												<div class="input-text">
													<input  class="input" id="startPointQuery" placeholder="请输入线路起点" type="text" />
												</div>
											</div>
											<div class="search-box">
												<div class="input-lable">线路终点</div>
												<div class="input-text">
													<input class="input" id="endPointQuery" placeholder="请输入线路终点" type="text" />
												</div>
											</div>
										</div>
									</div>
									<div class="search-button-box">
										<button class="search-button" onclick="lineList(1)">
											<div class="search-icon"></div>
											<div class="text">查询</div>
										</button>
										<button class="search-button" type="reset">
											<div class="reset-icon"></div>
											<div class="text">重置</div>
										</button>
									</div>
								</form>
							</div>
							<div class="modal-table row">
								<table width="100%" class="table-bule table-ellipsis" >
									<thead>
										<tr class="table-title">
											<th style="width: 40px;"><input class="all_line_check" name="all" type="checkbox"></th>
											<th>线路编号</th>
											<th>线路名称</th>
											<th>线路起点</th>
											<th>线路终点</th>
											<th>运距</th>
										</tr>
									</thead>
									<tbody id="lineTBody">
									</tbody>
								</table>
								<!-- 分页 -->
								<div class="panel-pagination">
									<div id="panel-num-line" class="panel-num">搜索相关结果共0条</div>
									<div id="pagination-list-line" class="pagination-list"></div>
									<div class="pagination-input">
										到 <input type="text" />页
									</div>
									<div class="pagination-button" onclick="lineJumpPage(this)">确定</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="save-button" onclick="lineSelect()">确认</button>
								<button class="close-button" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</main>
	</div>
	<footer class="app-footer"> </footer>
</body>
<#include "../../common/common_footer.html" />
<script type="text/javascript" src="${basePath}/static/js/common/moment.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/datetimepicker.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/confirm.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/ajaxupload.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/operation.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/colResizable.js"></script>
<script type="text/javascript" src="${basePath}/static/js/contract/logisticsContractManage.js"></script>
<script type="text/javascript" src="${basePath}/static/js/contract/projectSearch.js"></script>
<script type="text/javascript" src="${basePath}/static/js/contract/entrustSearch.js"></script>
<script type="text/javascript" src="${basePath}/static/js/contract/shipperSearch.js"></script>
<script type="text/javascript" src="${basePath}/static/js/contract/lineSearch.js"></script>
<script type="text/javascript" src="${basePath}/static/js/contract/contractLogSearch.js"></script>
</html>
