<!DOCTYPE html>
<html lang="zh">
	<head>
		<title>公式管理</title>
		<#include "../../common/common_header.html" />
		<link rel="stylesheet" href="${basePath}/static/css/common/search.css" type="text/css">
		<link rel="stylesheet" href="${basePath}/static/css/common/modal.css" type="text/css">
		<link rel="stylesheet" href="${basePath}/static/css/common/operation.css" type="text/css">
		<link rel="stylesheet" href="${basePath}/static/css/common/table.css" type="text/css" />
		<style>
			.search-box .input-lable {
			    width: 90px;
			}
		</style>
	</head>
	<body class="app-body">
		<#include "../../common/common_top.html" />
	  	<div class="main-body">
	    	<#include "../../common/common_menu.html" />
		    <!-- 内容 -->
		    <main class="main">
				<!--公式管理模板-->
				<div class="org-manage" >
					<div class="search-panel row">
						<form onsubmit="return false">
						    <div class="search-from" style="max-width:1390px">
						      	<div class="search-row-box">
						        	<div class="both-row row">
						          		<div class="search-box">
						            		<div class="input-lable">公式名称</div>
						            		<div class="input-text">
						              			<input id="formulaName" class="input" placeholder="请输入公式名称" type="text" />
						            		</div>
						          		</div>
						         
						          		<div class="search-box">
						            		<div class="input-lable">启用状态</div>
						            		<div class="input-text">
							              		<select id="isAvailable" class="input">
							              			<option value="">请选择</option>
							                		<option value="1">启用</option>
							                		<option value="0">停用</option>
							              		</select>
						            		</div>
						          		</div>
							          	<div class="search-box">
						            		<div class="input-lable">类型</div>
						            		<div class="input-text">
							              		<select id="equationMark" class="input">
							              			<option value="">请选择</option>
							                		<option value="1">司机</option>
							                		<option value="2">企业</option>
							              		</select>
						            		</div>
						          		</div>
						          	
						          		
						          		<div class="search-box" style="width:320px;">
						            		 
						          		</div>
						        	</div>
								</div>
								<div class="search-button-box">
									<button class="search-button" onclick="searchFormulaInfo(1)">
							        	<div class="search-icon"></div>
							        	<div class="text">查询</div>
							      	</button>
							      	<button class="search-button" type="reset" >
									      <div class="reset-icon"></div>
									      <div class="text">重置</div>
									 </button>
								</div>
							</div>
						</form>
					</div>
					<div class="panel">
						<div class="row">
					    	<div class="operation-tab row">
						      	<button class="operation-button operation-blue" onclick="addFormulaInfo()">
						        	<div class="add-icon"></div>
						        	<div class="operation-text">新增公式</div>
						      	</button>
						    
					    	</div>
				    	</div>
				    	<div id="search_formula_info" class="panel-table">
				    	</div>
				  	</div>
				  	
					<!-- 公式新增展示 -->
					<div id="show_add_formula_info" class="modal-open"></div>
					
					<!-- 启用/停用/注销模板 -->
					<div class="modal fede" id="disableModal" tabindex="-3" role="dialog" aria-labelledby="myOptModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
									<h4 class="modal-title" id="myOptModalLabel">
										公式停用
									</h4>
								</div>
								<div class="modal-body">
									<div class="model-from row">
										<div class="group-box">
											<div id="modal_opearate_title" class="input-lable">停用原因:</div>
											<div class="textarea-text" style="width:294px">
												<textarea id="modal_opearate_reason" class="input" placeholder="请输入停用原因"></textarea>
											</div>
											<input id="modal_formulaInfoId" type="hidden" operate-type="">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button class="close-button" onclick="operateFormulaInfo()">确认</button>
									<button class="close-button" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
					
					
						<!-- 公式明细信息列表 -->
		<div class="modal fade" id="detailModal" tabindex="-2" role="dialog">
			<div class="modal-dialog" style="width:80%"	>
				<div class="modal-content">
					<div class="modal-header">
						<div type="button" class="mode-close" data-dismiss="modal" aria-hidden="true"></div>
						<h4 class="modal-title">公式明细</h4>
					</div>
					<div class="modal-body" >
						<div class="modal-table row ">
							<div class="row">
							
							</div>
							<!-- <div class="iscroll-detail"> -->
								<table class="table-bule  table-ellipsis" style="width:100%">
									<thead>
										<tr class="table-title">
											<th style="width: 40px;"><label class="i-checks"> <input class="all_detail_check" name="all" type="checkbox"><i></i></label></th>
											<th>结果集名称</th>
											<th>计算公式</th>
											<th>描述</th>
											<!-- <th>四舍五入方式</th> -->
										</tr>
									</thead>
									<tbody id="detailTBody">
									</tbody>
								</table>
							<!-- </div> -->
					<!-- 		<div class="panel-pagination">
								<div class="panel-num">
									搜索相关结果共<span id="detailNum">0</span>条
								</div>
								<div id="detailPage" class="pagination-list detail-pagination-list"></div>
								<div class="pagination-input">
									到 <input type="text" />页
								</div>
								<div class="pagination-button" onclick="">确定</div>
							</div> -->
						</div>
					</div>
					<div class="modal-footer">
						<button class="close-button" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
		
		
				</div>
		    </main>
	  	</div>
	  	<footer class="app-footer">
	  	</footer>
	  	
	</body>
	<#include "../../common/common_footer.html" />
	<script type="text/javascript" src="${basePath}/static/js/common/colResizable.js"></script>
	<script type="text/javascript" src="${basePath}/static/js/formula/formulaManage.js"></script>
	<script type="text/javascript" src="${basePath}/static/js/formula/formulaDetailManage.js"></script>
</html>

