<!DOCTYPE html>
<html lang="zh">
	<head>
		<title>合作伙伴申请</title>
		<#include "../../common/common_header.html" />
		<link rel="stylesheet" href="${basePath}/static/css/common/search.css" type="text/css" />
		<link rel="stylesheet" href="${basePath}/static/css/common/operation.css" type="text/css" />
		<link rel="stylesheet" href="${basePath}/static/css/common/table.css" type="text/css" />
		<link rel="stylesheet" href="${basePath}/static/css/common/modal.css" type="text/css">
		<link rel="stylesheet" href="${basePath}/static/css/common/datetimepicker.css" type="text/css" />
		<style>
			 
		  	.search-box .time-input {
		    	width: 98px;
		  	}
		  	.model-from .input-text {
		  	   width:290px;
		  	}
		</style>
	</head>
	<body class="app-body">
		<#include "../../common/common_top.html" />
	  	<div class="main-body">
		    <!-- Main content -->
	    	<#include "../../common/common_menu.html" />
		    <!-- 内容 -->
		    <main class="main">
				<div class="search-panel row">
					<form onsubmit="return false">
	  					<div class="search-from">
	    					<div class="search-row-box">
	      						<div class="both-row row">  
		        					<div class="search-box">
			          					<div class="input-lable">伙伴状态</div>
							          	<div class="input-text">
							            	<select id="relation_status" class="input">
								              	<option value="">请选择</option>
								              	<option value="1">待确认</option>
								              	<option value="2">已拒绝</option>
								              	<option value="3">已确认</option>
							            	</select>
							          	</div>
		        					</div>
		        					<div class="search-box">
							          	<div class="input-lable">申请类型</div>
							          	<div class="input-text">
								            <select id="operate_type" class="input">
								              	<option value="">请选择</option>
								              	<option value="1">发起方</option>
								              	<option value="2">受理方</option>
								            </select>
							          	</div>
							        </div>
							        <div class="search-box">
							          	<div class="input-lable">确认时间</div>
							          	<div class="input-text time-input">
							            	<input id="confirm_time_start_str" class="input date-time" placeholder="" type="text" />
							          	</div>
							       		<div class="input-line">—</div>
							          	<div class="input-text time-input">
							            	<input id="confirm_time_end_str" class="input date-time" placeholder="" type="text" />
							          	</div>
							        </div>
							        <div class="search-box">
							          	<div class="input-lable">合作伙伴角色</div>
							          	<div class="input-text">
								            <select id="partnerRole" class="input">
								              	<option value="">请选择</option>
								              	<option value="1">企业货主</option>
								              	<option value="2">物流公司</option>
								              	<option value="3">个体货主</option>
								              	<option value="4">司机</option>
								            </select>
							          	</div>
							        </div>
	      						</div>
	    					</div>
	    					<div class="search-button-box">
								<button class="search-button" onclick="searchApplyPartnerInfo(1)">
									<div class="search-icon"></div>
									<div class="text">查询</div>
								</button>
								<button class="search-button" type="reset" onclick="resetPartner()">
								      <div class="reset-icon"></div>
								      <div class="text">重置</div>
								 </button>
							</div>
	  					</div>
  					</form>
				</div>
				<div class="panel">	
					<div class="operation-tab row" onclick="addApplyPartnerInfoInitPage()">
						<button class="operation-button operation-blue">
							<div class="add-icon"></div>
							<div class="operation-text">新增</div>
						</button>
					</div>
					<div id="search_apply_partner_info" class="panel-table">
					</div>
				</div>
				
				<!-- 新增伙伴申请 -->
				<div id="show_apply_partner_info"></div>
		    </main>
	  	</div>
	  	<footer class="app-footer">
	  	</footer>
	</body>
	<#include "../../common/common_footer.html" />
	<script type="text/javascript" src="${basePath}/static/js/common/moment.js"></script>
	<script type="text/javascript" src="${basePath}/static/js/common/datetimepicker.js"></script>
	<script type="text/javascript" src="${basePath}/static/js/common/operation.js"></script>
	<script type="text/javascript" src="${basePath}/static/js/common/colResizable.js"></script>
	<script type="text/javascript" src="${basePath}/static/js/partner/applyPartnerInfoManager.js"></script>
</html>